@import "@styles/colors";
@import "@styles/templates";

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  text-align: center;
  border-radius: 1rem;
  @include shadow;
}
