@import "@styles/colors.scss";
@import "@styles/templates.scss";

.button {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  font-weight: 600;
  color: $accent-light;
  text-transform: uppercase;
  border: 1px solid $accent-light;
  border-radius: 1rem;

  cursor: pointer;
  @include transition;

  &:hover {
    color: $primary-light;
    background-color: $accent-light;
  }

  &:active {
    color: $accent-dark;
  }
}
